/* TODO REUSE VARS */

.article {
    color: var(--text-color);
    padding: var(--base-size);
    padding-top: calc(var(--base-size) * 4);
    margin: 0 var(--base-size);
}

@media (min-width: 600px) {
    .article {
        padding-top: calc(var(--base-size) * 2);
    }
}

h1,
h2 {
    color: white;
}

.blog-row {
    border-bottom: 2px dashed var(--accent-color);
}

h2 {
    margin-bottom: var(--base-size);
}

ul li {
    margin-bottom: calc(var(--base-size) / 2);
}

#home,
#blog-root {
    margin-right: var(--base-size);
}

.tag {
    background-color: var(--accent-color);
    margin: calc(var(--base-size) / 4);
    padding: calc(var(--base-size) / 4);
    border-radius: var(--border-radius);
}

.tags {
    margin: calc(var(--base-size) / 2) 0;
}

#notes,
#review {
    display: none;
}

time {
    margin-bottom: var(--base-size);
    display: block;
}

p {
    margin-bottom: var(--base-size);
}

li {
    font-size: var(--base-size);
}

figure {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: var(--base-size);
}

code {
    /* font-size: var(--base-size * 1.5); */
    font: 'mono';
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
}

.prompt {
    display: block;
    border-radius: var(--border-radius);
    border: 1px solid var(--accent-color);
    display: flex;
    flex-direction: column;
    padding: var(--base-size);
    margin-bottom: calc(var(--base-size) / 2);
}

.prompt span {
    margin-bottom: calc(var(--base-size) / 2);
}
