:root {
    --color-text: rgba(255, 255, 255, .8);
    --color-1: #9300ff;
}

body {
    background-color: var(--color-1);
    color: var(--color-text);
    font-size: 1.25rem;
    line-height: 1.5rem;
    overflow: scroll;
    background-blend-mode: multiply;
    overflow-x: hidden;
}

h1 {
    margin-top: 2rem;
    font-size: 3rem;
    /* margin-bottom: 2rem; */
    line-height: 3rem;
}

h2 {
    margin-top: 1rem;
    line-height: 2rem;
}

time {
    margin: 1rem 0;
    display: block;
    visibility: 60%;
}

@media (min-width: 600px) {
    h1 {
        margin-top: 0;
        line-height: 6rem;
        margin-bottom: 0;
    }

    h4 {
        margin: 0;
        margin-bottom: 2rem;
    }

    h2 {
        margin-top: .5rem;
    }
}

a,
time {
    color: var(--color-text);
}

a {
    border: 3px solid transparent;
}

a:hover,
a:active {
    border: 3px dotted var(--color-text);
}

.tag {
    background-color: var(--color-1);
    border: none;
}

p {
    margin-bottom: 1rem;
}

.blog-row {
    margin-top: 1rem;
    padding: .5rem;
    border-radius: 1rem;
    border: 3px solid transparent;
    border-bottom: 3px solid var(--color-text);
    border-top: 3px solid var(--color-1);
    border-right: 3px solid var(--color-1);
    border-left: 3px solid var(--color-1);
    mix-blend-mode: luminosity;
    display: block;
    text-decoration: none;
}

.blog-row:hover {
    background-color: lime;
    transition: all .25s;
}

.blog-subtitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}