/* TODO REUSE VARS */

.article {
    color: var(--text-color);
    padding: var(--base-size);
    padding-top: calc(var(--base-size) * 4);
    margin: 0 var(--base-size);
}

@media (min-width: 600px) {
    .article {
        padding-top: calc(var(--base-size) * 2);
    }
}

h1,
h2 {
    color: white;
}

.blog-row {
    border-bottom: 2px dashed var(--accent-color);
    color: white;
}

h2 {
    margin-bottom: var(--base-size);
}

ul li {
    margin-bottom: calc(var(--base-size) / 2);
}

#home,
#blog-root {
    margin-right: var(--base-size);
}

.tag {
    background-color: #ece;
    margin: calc(var(--base-size) / 4);
    padding: calc(var(--base-size) / 4);
    border-radius: var(--border-radius);
    color: #4a0e4e;
}

.tags {
    margin: calc(var(--base-size) / 2) 0;
}

#notes,
#review {
    display: none;
}

time {
    margin-bottom: var(--base-size);
    display: block;
}

p {
    margin-bottom: var(--base-size);
}

li {
    font-size: var(--base-size);
}

figure {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: var(--base-size);
}

code {
    /* font-size: var(--base-size * 1.5); */
    font: 'mono';
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New;
}

.prompt {
    display: block;
    border-radius: var(--border-radius);
    border: 1px solid var(--accent-color);
    display: flex;
    flex-direction: column;
    padding: var(--base-size);
    margin-bottom: calc(var(--base-size) / 2);
}

.prompt span {
    margin-bottom: calc(var(--base-size) / 2);
}

body {
    font-size: 18px;
    max-width: 1200px;
}

h1,
h2,
h3,
h4 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}


h1 {
    font-size: 2em;
    padding-bottom: 10px;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.5em;
}


@media (min-width: 600px) {

    h1,
    h2,
    h3,
    h4 {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    h1 {
        font-size: 3em;
        padding-bottom: 10px;
    }
    
    h2 {
        font-size: 2.5em;
    }
    
    h3 {
        font-size: 2.25em;
    }
    
    h4 {
        font-size: 2em;
    }
}

.prompt {
    background-color: #f8f9fa;
    border-left: 5px solid #4a0e4e;
    padding: 15px;
    margin-bottom: 20px;
    font-style: italic;
    color: #555;
}

figure {
    margin: 20px 0;
    text-align: center;
}

.section {
    margin-bottom: 40px;
}

ul,
ol {
    margin-bottom: 1rem;
    padding-left: 2rem;
}

a {
    color: #ece;
    text-decoration: none;
}