@keyframes rotate {
    to {
        --angle: 360deg;
    }
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

:root {
    --dark-color: #222;
    --gray-color: #ddd;
    --gray-light-color: #eee;
    --s1-color: #48d;
    --s2-color: #b84;
    --s3-color: #8b4;
    --s4-color: #84b;
    --s5-color: #b48;
    --s6-color: #4b2;
}

body {
    background-color: var(--dark-color);
    font-size: 20px;
    color: var(--gray-light-color);
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
    max-width: 55ch;
    line-height: 1.625rem;
    width: 100%;
}


.s2,
.s3,
.s4,
.s5,
.s6 {
    width: 55ch;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
}

#wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50rem;
}

#intro {
    text-align: center;
}

@media (max-width: 800px) {

    #intro,
    #bio,
    .expandable {
        width: 90%;
    }
}

#bio-text,
.expandable {
    background-color: var(--gray-color);
    color: var(--dark-color);
}

.expandable {
    padding: 0.5rem;
    --angle: 0deg;
    border-image: conic-gradient(from var(--angle), red, yellow, lime, aqua, blue, magenta, red) 1;
    animation: 10s rotate linear infinite;
    border-width: .375rem;
    margin: 0.375rem;
    flex-grow: 1;
    border-style: solid;
}

h3 {
    margin: 0.5rem;
    padding: 0;
}

a {
    color: var(--gray-light-color);
    font-weight: 800;
    text-decoration: none;
    border-radius: 0.25rem;
    border: 2px dotted var(--gray-light-color);
}

#bio-text a,
.expandable a {
    color: var(--dark-color);
    border: 2px dotted var(--dark-color);
}

#bio {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
}

#bio img {
    object-fit: cover;
    max-width: 35%;
    clip-path: circle(40%);
    margin: 1rem;
}

@media (max-width: 800px) {
    #bio {
        flex-direction: column;
    }

    #bio img {
        max-width: 100%;
        clip-path: circle(50%);
        order: 2;
    }


    #wrapper {
        width: auto;
        margin: .5rem;
        font-size: 16px;
    }

    figure img {
        max-width: 100%;
    }
}

#bio-text {
    padding: 0rem 1%;
    line-height: 1.5rem;
    border-radius: 0.5rem;
}

li {
    max-width: 55ch;
    margin-bottom: 0.75rem;
    line-height: 1.5rem;
}

h1 {
    margin: 1.5rem;
}

.subtitle {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 2rem;
    font-style: italic;
    color: var(--gray-color);
    max-width: 80%;
}

img {
    max-width: 60rem;
}

figcaption {
    color: var(--gray-color);
    padding-top: 1rem;
    text-decoration: overline;
}

/* .s1 {
    border-color: var(--s1-color);
} */

.s1 h3 {
    display: inline-block;
    padding: 0.5rem;
}


/* .s2 {
    --angle: 60deg;
}

.s3 {
    --angle: 120deg;
}

.s4 {
    --angle: 180deg;
}

.s5 {
    --angle: 240deg;
}

.s6 {
    --angle: 300deg;
} */