/* patterns from here 
    - https://www.magicpattern.design/tools/css-backgrounds
    - https://projects.verou.me/css3patterns/#brady-bunch
    - https://superdesigner.co/tools/css-backgrounds
*/

:root {
    --color-1: white;
    --color-2: red;
    --pattern-1: linear-gradient(135deg, #ffffff 25%, transparent 25%), linear-gradient(45deg, #ffffff 25%, transparent 25%), linear-gradient(135deg, transparent 24%, #4f46e4 25%, #4f46e4 30%, transparent 31%, transparent 39%, #4f46e4 40%, #4f46e4 45%, transparent 45%), linear-gradient(45deg, transparent 24%, #4f46e4 25%, #4f46e4 30%, transparent 31%, transparent 39%, #4f46e4 40%, #4f46e4 45%, transparent 45%);
    --pattern-2: repeating-radial-gradient(circle at 0 0, transparent 0, #e5e5f7 10px), repeating-linear-gradient(#444cf755, #444cf7);
    --pattern-3: linear-gradient(135deg, #444cf7 25%, transparent 25%), linear-gradient(225deg, #444cf7 25%, transparent 25%), linear-gradient(45deg, #444cf7 25%, transparent 25%), linear-gradient(315deg, #444cf7 25%, #e5e5f7 25%);
    --pattern-4: linear-gradient(135deg, #444cf7 25%, transparent 25%), linear-gradient(225deg, #444cf7 25%, transparent 25%), linear-gradient(45deg, #444cf7 25%, transparent 25%), linear-gradient(315deg, #444cf7 25%, #e5e5f7 25%);
    --pattern-5: radial-gradient(ellipse farthest-corner at 10px 10px, #444cf7, #444cf7 50%, #e5e5f7 50%);
    --pattern-6: radial-gradient(circle at center center, #444cf7, #e5e5f7), repeating-radial-gradient(circle at center center, #444cf7, #444cf7, 10px, transparent 20px, transparent 10px);
    --pattern-7: linear-gradient(135deg, #ffffff 25%, transparent 25%), linear-gradient(45deg, #ffffff 25%, transparent 25%), linear-gradient(135deg, transparent 24%, #4f46e4 25%, #4f46e4 30%, transparent 31%, transparent 39%, #4f46e4 40%, #4f46e4 45%, transparent 45%), linear-gradient(45deg, transparent 24%, #4f46e4 25%, #4f46e4 30%, transparent 31%, transparent 39%, #4f46e4 40%, #4f46e4 45%, transparent 45%);
    --pattern-8: radial-gradient(#4f46e4 15%, transparent 16%, transparent 49%, #4f46e4 50%, transparent 51%), radial-gradient(circle at top left, #4f46e4 10%, transparent 10%, transparent 39%, #4f46e4 40%, transparent 41%), radial-gradient(circle at top right, #4f46e4 10%, transparent 10%, transparent 39%, #4f46e4 40%, transparent 41%), radial-gradient(circle at bottom left, #4f46e4 10%, transparent 10%, transparent 39%, #4f46e4 40%, transparent 41%), radial-gradient(circle at bottom right, #4f46e4 10%, transparent 10%, transparent 39%, #4f46e4 40%, transparent 41%);
}

#pattern-1 {
    background-color: #e5e5f7;
    background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #e5e5f7 10px), repeating-linear-gradient(#444cf755, #444cf7);
}

#pattern-2 {
    background-color: #e5e5f7;
    background-image: linear-gradient(135deg, #444cf7 25%, transparent 25%), linear-gradient(225deg, #444cf7 25%, transparent 25%), linear-gradient(45deg, #444cf7 25%, transparent 25%), linear-gradient(315deg, #444cf7 25%, #e5e5f7 25%);
    background-position: 10px 0, 10px 0, 0 0, 0 0;
    background-size: 10px 10px;
    background-repeat: repeat;
}

#pattern-3 {
    background-color: #e5e5f7;
    background-image: linear-gradient(135deg, #444cf7 25%, transparent 25%), linear-gradient(225deg, #444cf7 25%, transparent 25%), linear-gradient(45deg, #444cf7 25%, transparent 25%), linear-gradient(315deg, #444cf7 25%, #e5e5f7 25%);
    background-position: 10px 0, 10px 0, 0 0, 0 0;
    background-size: 20px 20px;
    background-repeat: repeat;
}

#pattern-4 {
    background-color: #e5e5f7;
    background-image: radial-gradient(circle at center center, #444cf7, #e5e5f7), repeating-radial-gradient(circle at center center, #444cf7, #444cf7, 10px, transparent 20px, transparent 10px);
    background-blend-mode: multiply;
}

#pattern-5 {
    background-color: #e5e5f7;
    background-image: radial-gradient(ellipse farthest-corner at 10px 10px, #444cf7, #444cf7 50%, #e5e5f7 50%);
    background-size: 10px 10px;
}

#pattern-6 {
    background-color: #e5e5f7;
    background-image: linear-gradient(30deg, #444cf7 12%, transparent 12.5%, transparent 87%, #444cf7 87.5%, #444cf7), linear-gradient(150deg, #444cf7 12%, transparent 12.5%, transparent 87%, #444cf7 87.5%, #444cf7), linear-gradient(30deg, #444cf7 12%, transparent 12.5%, transparent 87%, #444cf7 87.5%, #444cf7), linear-gradient(150deg, #444cf7 12%, transparent 12.5%, transparent 87%, #444cf7 87.5%, #444cf7), linear-gradient(60deg, #444cf777 25%, transparent 25.5%, transparent 75%, #444cf777 75%, #444cf777), linear-gradient(60deg, #444cf777 25%, transparent 25.5%, transparent 75%, #444cf777 75%, #444cf777);
    background-size: 20px 35px;
    background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;
}

html {
    --s: 150px;
    /* control the size */
    --c1: #FF847C;
    --c2: #E84A5F;
    --c3: #FECEA8;
    --c4: #99B898;

    --_g:
        var(--c1) 0% 5%, var(--c2) 6% 15%, var(--c1) 16% 25%, var(--c2) 26% 35%, var(--c1) 36% 45%,
        var(--c2) 46% 55%, var(--c1) 56% 65%, var(--c2) 66% 75%, var(--c1) 76% 85%, var(--c2) 86% 95%,
        #0000 96%;

}


#pattern-7 {
    background:
        radial-gradient(50% 50% at 100% 0, var(--_g)),
        radial-gradient(50% 50% at 0 100%, var(--_g)),
        radial-gradient(50% 50%, var(--_g)),
        radial-gradient(50% 50%, var(--_g)) calc(var(--s)/2) calc(var(--s)/2) var(--c1);
    background-size: var(--s) var(--s);
}


#pattern-8 {
    background:
        conic-gradient(from 45deg at 75% 75%, var(--c3) 90deg, var(--c1) 0 180deg, #0000 0),
        conic-gradient(from -45deg at 25% 25%, var(--c3) 90deg, #0000 0),
        conic-gradient(from -45deg at 50% 100%, #0000 180deg, var(--c3) 0),
        conic-gradient(from -45deg, var(--c1) 90deg, var(--c2) 0 225deg, var(--c4) 0);
    background-size: var(--s) var(--s);
}

#pattern-9 {
    background:
        conic-gradient(from -60deg at 50% calc(100%/3), var(--_g)),
        conic-gradient(from 120deg at 50% calc(200%/3), var(--_g)),
        conic-gradient(from 60deg at calc(200%/3), var(--c3) 60deg, var(--c2) 0 120deg, #0000 0),
        conic-gradient(from 180deg at calc(100%/3), var(--c1) 60deg, var(--_g)),
        linear-gradient(90deg, var(--c1) calc(100%/6), var(--c2) 0 50%,
            var(--c1) 0 calc(500%/6), var(--c2) 0);
    background-size: calc(1.732*var(--s)) var(--s);
}

#pattern-10 {
    background-image:
        radial-gradient(closest-side, transparent 0%, transparent 75%, #B6CC66 76%, #B6CC66 85%, #EDFFDB 86%, #EDFFDB 94%, #FFFFFF 95%, #FFFFFF 103%, #D9E6A7 104%, #D9E6A7 112%, #798B3C 113%, #798B3C 121%, #FFFFFF 122%, #FFFFFF 130%, #E0EAD7 131%, #E0EAD7 140%),
        radial-gradient(closest-side, transparent 0%, transparent 75%, #B6CC66 76%, #B6CC66 85%, #EDFFDB 86%, #EDFFDB 94%, #FFFFFF 95%, #FFFFFF 103%, #D9E6A7 104%, #D9E6A7 112%, #798B3C 113%, #798B3C 121%, #FFFFFF 122%, #FFFFFF 130%, #E0EAD7 131%, #E0EAD7 140%);
    background-size: 110px 110px;
    background-color: #C8D3A7;
    background-position: 0 0, 55px 55px;
}

#pattern-11 {
    background-color: #556;
    background-image: linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
        linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
        linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
        linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
        linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a),
        linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a);
    background-size: 80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}

#pattern-12 {
    background: linear-gradient(45deg, #4f46e4 0%, #4f46e4 5%, transparent 5%, transparent 10%, #4f46e4 10%, #4f46e4 15%, transparent 15%, transparent 20%, #4f46e4 20%, #4f46e4 25%, transparent 25%, transparent 30%, #4f46e4 30%, #4f46e4 35%, transparent 35%, transparent 40%, #4f46e4 40%, #4f46e4 45%, transparent 45%, transparent 50%, #4f46e4 50%, #4f46e4 100%, transparent 55%, transparent 60%, #4f46e4 60%, #4f46e4 65%, transparent 65%, transparent 70%, #4f46e4 70%, #4f46e4 75%, transparent 70%, transparent 80%, #4f46e4 80%, #4f46e4 85%, transparent 85%, transparent 90%, #4f46e4 90%, #4f46e4 95%, transparent 95%), linear-gradient(135deg, #4f46e4 0%, #4f46e4 5%, transparent 5%, transparent 10%, #4f46e4 10%, #4f46e4 15%, transparent 15%, transparent 20%, #4f46e4 20%, #4f46e4 25%, transparent 25%, transparent 30%, #4f46e4 30%, #4f46e4 35%, transparent 35%, transparent 40%, #4f46e4 40%, #4f46e4 45%, transparent 45%, transparent 50%, #4f46e4 50%, #4f46e4 55%, transparent 55%, transparent 60%, #4f46e4 60%, #4f46e4 65%, transparent 65%, transparent 70%, #4f46e4 70%, #4f46e4 75%, transparent 70%, transparent 80%, #4f46e4 80%, #4f46e4 85%, transparent 85%, transparent 90%, #4f46e4 90%, #4f46e4 95%, transparent 95%);
    background-size: 3em 3em;
    background-color: #ffffff;
}

body {
    transition: all 5s ease-in-out;
    background-size: 100vw 100vh;
    background-blend-mode: multiply;
    /* background-color: pink; */
}

.pattern,
#wrapper {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.pattern {
    opacity: 0;
    transition: opacity 5s ease-in-out;
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 3rem;
}

#wrapper #content {
    flex: 1;
    justify-content: center;
}

#wrapper div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#wrapper #controls {
    flex-direction: row;
    gap: 1rem;
    max-height: 4rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

#adjective,
#noun {
    animation: fade-in-fade-out 5s infinite;
}

#intro {
    animation-iteration-count: 1;
    animation: fade-in-stay 5s;
}

@keyframes fade-in-fade-out {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    55% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


@keyframes fade-in-stay {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    55% {
        opacity: 0.5;
    }
}

button {
    min-width: 6rem;
    height: 2.5rem;
    font-size: 1.25rem;
    background-color: white;
    border-radius: .25rem;
    border: .125rem solid #eee;
}

button:hover {
    border: .125rem solid #ccc;
}

#wrapper #debug {
    display: none;
}

.active {
    opacity: 1;
}

h1 {
    margin: 0;
}