/* patterns from here 
    - https://www.magicpattern.design/tools/css-backgrounds
    - https://projects.verou.me/css3patterns/#brady-bunch
    - https://superdesigner.co/tools/css-backgrounds
*/

:root {
    --color-primary: #fff6ff;
    --color-gray: #ccc;
    --color-semi-transparent: rgba(255, 255, 255, 0.5);
    --color-less-transparent: rgba(255, 255, 255, 0.75);
    --color-secondary: #fbe7f2;

    --color-1: #9300ff;
    --color-2: #ff00b9;
    --color-3: #ff0076;
    --color-4: #ff7e47;
    --color-5: #ffc33e;
    --color-6: #f9f871;
}

#pattern-1 {
    background-image: repeating-radial-gradient(
            circle at 0 0,
            var(--color-4) 0,
            var(--color-1) 1rem
        ),
        repeating-linear-gradient(var(--color-1), var(--color-primary));
}

#pattern-2 {
    background-image: linear-gradient(
            135deg,
            var(--color-1) 25%,
            transparent 25%
        ),
        linear-gradient(225deg, var(--color-1) 25%, transparent 25%),
        linear-gradient(45deg, var(--color-1) 25%, transparent 25%),
        linear-gradient(315deg, var(--color-1) 25%, var(--color-2) 25%);
    background-position: 1rem 0, 1rem 0, 0 0, 0 0;
    background-size: 1rem 1rem;
    background-repeat: repeat;
}

#pattern-3 {
  background-image: linear-gradient(
          30deg,
          var(--color-1) 12%,
          transparent 12.5%,
          transparent 87%,
          var(--color-1) 87.5%,
          var(--color-1)
      ),
      linear-gradient(
          150deg,
          var(--color-1) 12%,
          transparent 12.5%,
          transparent 87%,
          var(--color-1) 87.5%,
          var(--color-1)
      ),
      linear-gradient(
          30deg,
          var(--color-1) 12%,
          transparent 12.5%,
          transparent 87%,
          var(--color-1) 87.5%,
          var(--color-1)
      ),
      linear-gradient(
          150deg,
          var(--color-1) 12%,
          transparent 12.5%,
          transparent 87%,
          var(--color-1) 87.5%,
          var(--color-1)
      ),
      linear-gradient(
          60deg,
          var(--color-2) 25%,
          transparent 25.5%,
          transparent 75%,
          var(--color-2) 75%,
          var(--color-2)
      ),
      linear-gradient(
          60deg,
          var(--color-1) 25%,
          transparent 25.5%,
          transparent 75%,
          var(--color-1) 75%,
          var(--color-1)
      );
  background-size: 80px 140px;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}

#pattern-4 {
    background-image: radial-gradient(
            circle at center center,
            var(--color-1),
            var(--color-2)
        ),
        repeating-radial-gradient(
            circle at center center,
            var(--color-1),
            var(--color-2),
            10px,
            transparent 20px,
            transparent 10px
        );
    background-blend-mode: multiply;
}

#pattern-9 {
    background: conic-gradient(from -60deg at 50% calc(100% / 3), var(--_g)),
        conic-gradient(from 120deg at 50% calc(200% / 3), var(--_g)),
        conic-gradient(
            from 60deg at calc(200% / 3),
            var(--c3) 60deg,
            var(--c2) 0 120deg,
            var(--color-primary) 0
        ),
        conic-gradient(
            from 180deg at calc(100% / 3),
            var(--c1) 60deg,
            var(--_g)
        ),
        linear-gradient(
            90deg,
            var(--c1) calc(100% / 6),
            var(--c2) 0 50%,
            var(--c1) 0 calc(500% / 6),
            var(--c2) 0
        );
    /* background-size: calc(1.732 * var(--s)) var(--s); */
    background-size: 100% 100%;
}

#pattern-5 {
    background-image: radial-gradient(
            closest-side,
            transparent 0%,
            transparent 75%,
            var(--color-1) 76%,
            var(--color-1) 85%,
            var(--color-2) 86%,
            var(--color-2) 94%,
            var(--color-primary) 95%,
            var(--color-primary) 103%,
            var(--color-3) 104%,
            var(--color-3) 112%,
            var(--color-5) 113%,
            var(--color-5) 121%,
            var(--color-primary) 122%,
            var(--color-primary) 130%,
            var(--color-4) 131%,
            var(--color-4) 140%
        ),
        radial-gradient(
            closest-side,
            transparent 0%,
            transparent 75%,
            var(--color-1) 76%,
            var(--color-1) 85%,
            var(--color-2) 86%,
            var(--color-2) 94%,
            var(--color-primary) 95%,
            var(--color-primary) 103%,
            var(--color-3) 104%,
            var(--color-3) 112%,
            var(--color-5) 113%,
            var(--color-5) 121%,
            var(--color-primary) 122%,
            var(--color-primary) 130%,
            var(--color-4) 131%,
            var(--color-4) 140%
        );
    background-size: 110px 110px;
    background-position: 0 0, 55px 55px;
    background-blend-mode: color-burn;
  }

#pattern-6 {
    background-image: linear-gradient(
            30deg,
            var(--color-1) 12%,
            transparent 12.5%,
            transparent 87%,
            var(--color-1) 87.5%,
            var(--color-1)
        ),
        linear-gradient(
            150deg,
            var(--color-1) 12%,
            transparent 12.5%,
            transparent 87%,
            var(--color-1) 87.5%,
            var(--color-1)
        ),
        linear-gradient(
            30deg,
            var(--color-1) 12%,
            transparent 12.5%,
            transparent 87%,
            var(--color-1) 87.5%,
            var(--color-1)
        ),
        linear-gradient(
            150deg,
            var(--color-1) 12%,
            transparent 12.5%,
            transparent 87%,
            var(--color-1) 87.5%,
            var(--color-1)
        ),
        linear-gradient(
            60deg,
            var(--color-3) 25%,
            transparent 25.5%,
            transparent 75%,
            var(--color-3) 75%,
            var(--color-3)
        ),
        linear-gradient(
            60deg,
            var(--color-3) 25%,
            transparent 25.5%,
            transparent 75%,
            var(--color-3) 75%,
            var(--color-3)
        );
    background-size: 80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}

html {
    --s: 150px;
    --c1: var(--color-1);
    --c2: var(--color-2);
    --c3: var(--color-3);
    --c4: var(--color-4);

    --_g: var(--c1) 0% 5%, var(--c2) 6% 15%, var(--c1) 16% 25%,
        var(--c2) 26% 35%, var(--c1) 36% 45%, var(--c2) 46% 55%,
        var(--c1) 56% 65%, var(--c2) 66% 75%, var(--c1) 76% 85%,
        var(--c2) 86% 95%, var(--color-primary) 96%;
}

body {
    transition: all 7s ease-in-out;
    /* background-size: 100vw 100vh; */
    background-blend-mode: difference;
    overflow: hidden;
    color: var(--color-primary);
    background-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.pattern,
#wrapper {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.pattern {
    opacity: 0;
    /* todo change to 5 */
    transition: opacity 7s ease-in-out;
    background-color: var(--color-1);
    background-blend-mode: difference;
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 2.5rem;
}


#sections {
  /* margin-top: 2rem; */
}

#sections a,
#sections span {
  color: var(--color-primary) !important;
  margin-top: 1rem;
  padding: 0.25rem;
}


#sections #or, #sections #findme{
  color: var(--color-semi-transparent) !important;
  margin: 0;
  font-size: 2rem;
}

#sections a {
  text-decoration: none;
  border: 0.5rem dotted var(--color-gray);
  border-radius: 1rem;
  transition: all .25s;

  &:hover {
    background: var(--color-2);
    transition: all .25s;
  }
}

@media (min-width: 600px) {
    #content {
        flex: 1;
        justify-content: center;
    }
}

@media (max-width: 600px) {
    #content {
        margin-top: 4rem;
    }

    #sections a,
    #sections span {
      margin-top: .25rem;
      padding: .25rem;
      border-width: .25rem;
    }
}

#wrapper div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#wrapper #controls {
    flex-direction: row;
    gap: 1rem;
    max-height: 4rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    display: none;
}

#intro {
    animation-iteration-count: 1;
    animation: fade-in-stay 7s;
}

#n {
    color: var(--color-semi-transparent);
}

@keyframes fade-in-fade-out {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    50% {
       opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fade-in-stay {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    55% {
        opacity: 0.5;
    }
}

button {
    min-width: 6rem;
    height: 2.5rem;
    font-size: 1.25rem;
    background-color: white;
    border-radius: 0.25rem;
    border: 0.125rem solid #eee;
}

button:hover {
    border: 0.125rem solid var(--color-gray);
}

#wrapper #debug {
    display: none;
}

.active {
    opacity: 1;
}

h1 {
    margin: 0;
    font-size: 4rem;
}

@media screen and (min-width: 600px) {
    h1 {
        font-size: 5rem;
    }
}

@media screen and (min-width: 960px) {
    h1 {
        font-size: 6rem;
    }
}
