node_modules
docs/google091ccac2438bcbb9.html
pages/notes/.obsidian/workspace.json
pages/notes/.obsidian/workspace.json
.DS_Store
docs/documents/Erik-Vanek-cv.pdf
pages/documents/Erik-Vanek-cv.pdf
pages/notes/.obsidian/workspace.json
