<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>
        Erik Vaněk – I build meaningful services with empathy-driven design
    </title>
    <meta name="description" content="Erik Vaněk – I build meaningful services with empathy-driven design" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/2024.css" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
</head>

<body>
    <nav>
            <ul class="menu" id="menu">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/profile">Profile</a>
                </li>
                <!-- <li>
                        <a href="/work">Work</a>
                    </li> -->
                <li>
                    <a href="/blog">Blog</a>
                </li>
                <a class="close" href="#">
                    <svg width="100%" height="100%" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18 6L6 18M6 6L18 18" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </a>
            </ul>
            <a href="/" id="home">erikvanek.com</a>
            <a class="hamburger" href="#menu">
                <svg width="100%" height="100%" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3 12H21M3 6H21M9 18H21" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </a>
        </nav>
    <div id="wrapper">
        

        {{ content }}

    </div>


    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", (event) => {
            const path = window.location.pathname.replaceAll('/', '');
            const children = document.querySelectorAll('nav > ul > li');
            console.log(path)
            if (path === '') {
                children[0].classList.add('nav-active')
            } else if (path === 'profile') {
                children[1].classList.add('nav-active')
            } else if (path === 'blog') {
                children[2].classList.add('nav-active')
            }
        }) 
    </script>
</body>

</html>