<!DOCTYPE html>
<html lang="en-US">

    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="chrome=1"/>
        <meta name="HandheldFriendly" content="True"/>
        <meta name="description" content="Erik Vaněk | {{title}}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:domain" content="https://www.erikvanek.com"/>

        <meta name="twitter:image" content="/zen-circle.ico"/>
        <meta name="twitter:title" property="og:title" itemprop="title name" content="{{ title }} | Erik Vaněk"/>
        <meta name="twitter:description" property="og:description" itemprop="description"
        content="Erik Vaněk – I build meaningful services with empathy-driven design"/>
        <meta name="og:type" content="website"/>
        <meta name="og:url" content="www.erikvanek.com/"/>
        <meta name="og:image" itemprop="image primaryImageOfPage" content="/zen-circle.ico"/>

        <title>
        Erik Vaněk | {{title}}
        </title>

        <link rel="shortcut icon" href="/zen-circle.ico" id="favicon"/>
        <link rel="stylesheet" href="/css/2024.css"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    </head>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JKQT0DB91X"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'G-JKQT0DB91X');
    </script>

    <body>
        <nav>
            <ul class="menu" id="menu">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/profile">Profile</a>
                </li>
                <!-- <li>
                        <a href="/work">Work</a>
                    </li> -->
                <li>
                    <a href="/blog">Blog</a>
                </li>
                <a class="close" href="#">
                    <svg width="100%" height="100%" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18 6L6 18M6 6L18 18" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a>
            </ul>
            <a href="/" id="home">erikvanek.com</a>
            <a class="hamburger" href="#menu">
                <svg width="100%" height="100%" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3 12H21M3 6H21M9 18H21" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round"/>
                </svg>
            </a>
        </nav>
        <div id="wrapper">

            {{ content }}

        </div>

        <script type="text/javascript">
            document.addEventListener("DOMContentLoaded", (event) => {
                const path = window
                    .location
                    .pathname
                    .replaceAll('/', '');
                const children = document.querySelectorAll('nav > ul > li');
                console.log(path)
                if (path === '') {
                    children[0]
                        .classList
                        .add('nav-active')
                } else if (path === 'profile') {
                    children[1]
                        .classList
                        .add('nav-active')
                } else if (path === 'blog') {
                    children[2]
                        .classList
                        .add('nav-active')
                }
            })
        </script>

    </body>

</html>