<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="google-site-verification" content="4lzLUckaWn8onmSxB6y18ZD6ljLzNqdBzMtvGXXQL6s"/>
        <meta name="twitter:description" property="og:description" itemprop="description" content='{{description}}'>
        <title>{{ title }} | Erik Vaněk</title>
        <meta name="description" content='{{description}}'>
        <link rel="stylesheet" href="/css/nu.css">
        <link rel="stylesheet" href="../../css/revealjs/reveal.css"></link>
        {# <link rel="stylesheet" href="../../css/revealjs/black.css"></link> #}
        <link rel="stylesheet" href="../css/presentation-jinag.css"></link>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">

    </head>

    {% include "_analytics.html" %}

    <body>
        <div class="backgrounds">
            <div class="background-grid"></div>
        </div>
        <div class="reveal">
            <div class="slides">

                {{content | safe}}

            </div>

            <footer>Prezentace na <a href="/{{page.fileSlug}}" target="_blank">erikvanek.com/{{page.fileSlug}}</a>
            </footer>
        </div>

        <script type="text/javascript" src="../../js/reveal.js"></script>

        <script>
            Reveal.initialize({center: true, hash: true, autoPlayMedia: true});
        </script>
    </body>