<script type="text/javascript" src="../../js/reveal.js"></script>
<link rel="stylesheet" href="../../css/revealjs/reveal.css"></link>
<link rel="stylesheet" href="../../css/revealjs/black.css"></link>

<div class="reveal">
    <div class="slides">

        {{content | safe}}

    </div>

    <footer>Prezentace na <a href="https://erikvanek.com/{{page.fileSlug}}" target="_blank">erikvanek.com/{{page.fileSlug}}</footer>
    </div>

    <script>
        Reveal.initialize({center: true, hash: true});
    </script>

    <style>
        .slides {
            /* width: 100% !important;
    min-width: 100% !important;
    height: 100% !important;
    min-height: 100% !important; */
            width: 100% important;
        }

        .overlay {
            position: fixed;
            width: 100%;
            top: 5vh;
        }

        .fromTop {
            top: 20vh;
        }

        .white {
            color: white !important;
        }

        footer {
            position: absolute;
            bottom: 2rem;
            left: 20vw;
            /* color: gainsboro;
     */
            opacity: 25%;
            font-size: 1.5rem;
            text-align: center;
            left: 35%;
            z-index: 100 !important;
            /* width: 100%; */
        }

        h1 {
            background: none !important;
            font-size: 8rem !important;
            text-align: center;
            font: bold 80px Sans-Serif;
            padding: 40px 0;

            background-color: #3a50d9;
            color: #e0eff2 !important;
            font: italic bold 100px Georgia, Serif !important;
            text-shadow: -4px 3px 0 #3a50d9, -14px 7px 0 #0a0e27 !important;
            padding-bottom: 1rem;
            margin-bottom: 0;
        }

        li {
            font-size: 2rem;
        }

        li:before {
            content: "→ ";
        }

        ul {
            list-style: none !important;
            width: 100%;
        }

        .strokeThrough{
            text-decoration-line: line-through;
            opacity: 80%;
        }

        .hint {
            opacity: 80%;
        }
    </style>