<figure>
    <video width="100%" controls autoplay loop onloadstart="this.volume=0" playbackRate="2.0" allow="autoplay"
        playsinline>
        <source src={{path}} type="video/mp4">
    </video>
    <figcaption>{{title}}</figcaption>
</figure>