:root {
    --base-size: 16px;
    --dark-color: navy;
    --text-color: #eee;
    --lighter-color: #efe;
    --dark-text-color: #222;
    --light-gray-color: #ddd;
}

* {
    font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont,
        'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue',
        sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: var(--dark-color);
    color: var(--text-color);
}

.feat {}

svg {
    stroke: var(--text-color);
    stroke-width: 2px;
    border: 2px solid var(--text-color);
    border-radius: 2rem;
    /* width: 2rem;
    height: 2rem;
    padding: 0.25rem; */
}

#partners img {
    max-width: 4rem;
}

#partners-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

#partners a {
    margin: 2rem;
    text-decoration: none;
    display: block;
}

#cases img {
    max-height: 12rem;
}

#email-contact {
    font-size: 1.5rem;
}

.hamburger {
    position: fixed;
    /* a large z-index puts the ham button above the rest of the page*/
    z-index: 99;
    border: none;
    cursor: pointer;
    top: 1rem;
    right: 1rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    text-decoration: none;
    color: var(--dark-text-color);
    /* font-size: 1.25rem;
    border: 1px solid var(--light-gray-color);
    padding: .25rem;
    border-radius: .25rem; */
}

.menu {
    position: fixed;
    /* give the menu a larger z-index than the ham link
    to put the menu above it */
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    /* basic menu styling*/
    list-style: none;
    background: rgba(0, 0, 0, 0.95);
    display: flex;

    flex-direction: column;
    /* animate slide up/down */
    transform: translateY(-100%);
    transition: transform 0.2s ease;
}

.close {
    position: absolute;
    border: none;
    color: white;
    cursor: pointer;
    top: 1rem;
    right: 1rem;
}

.menu:target {
    /* show menu */
    transform: translateY(0);
}

nav ul {
    display: flex;
    font-size: calc(var(--base-size) * 2);
    align-items: center;
}

nav svg {
    width: 2rem;
    height: 2rem;
    color: var(--dark-text-color);
    border: none;
}

.close {
    color: var(--text-color);
}

#menu li {
    margin: 1rem 0;
}

#menu li a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 800;
}

#menu li:first-child {
    margin-top: calc(var(--base-size) * 3 + 2rem);
}

nav {
    display: flex;
    position: fixed;
    flex-direction: row-reverse;
    height: 4rem;
    width: 100%;
    background-color: var(--text-color);
    background-color: white;
    align-items: center;
}

#wrapper {
    width: 100%;
}

section {
    padding: 1rem;
}

p {
    margin-bottom: 1.5rem;
}

h1 {
    font-size: 3rem;
    word-wrap: normal;
    margin: 1.5rem 0;
    font-weight: 800;
}

h2 {
    font-size: 2.5rem;
    margin: 2.5rem 0;
}

h3 {
    font-size: 2rem;
    margin: 2rem 0;
}

h4 {
    font-size: 1.5rem;
    margin: 2rem 0;
}

#pitch {
    padding-top: 4rem;
}

#pitch,
#cases,
#partners {
    background-color: var(--text-color);
    color: var(--dark-text-color);
}

.case-study {
    margin-bottom: 2rem;
    max-height: 12rem;
    display: flex;
    justify-content: center;
}

.case-study h4 {
    font-size: 2.5rem;
    align-self: center;
    position: absolute;
    text-align: center;
    max-width: 80%;
    text-shadow: var(--light-gray-color) 4px 2px 4px;
}

.case-study img {
    width: 100%;
    height: 100%;
}

.feat {
    margin: 2rem 0;
    gap: 2rem;
    display: flex;
}

.feat svg {
    flex: 1;
    max-height: 4rem;
    max-width: 4rem;
    padding: 1rem;
}

.feat * {
    flex: 2;
}


/* let's break at 600, maybe 660 */