:root {
    --dark-color: #222;
    --gray-color: #ddd;
    --gray-light-color: #eee;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
}

body {
    font-size: 16px;
    background-color: var(--dark-color);
    color: var(--gray-color);
}

a {
    text-decoration: underline;
    color: var(--gray-light-color);
    font-weight: 800;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 0;
}

h1, h2, h3 {
    text-align: left;
}

span {
    font-size: 1.25rem;
}

#wrapper {
    margin: 0 auto;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2rem;
}

.block {
    display: flex;
max-width: 50rem;
    flex-direction: column;
    padding: 1rem;
    margin: 0 !important;
    margin-top: 2rem;
}

.contrast {
    background-color: var(--gray-light-color);
    color: var(--dark-color);
}

.contrast a {
    color: var(--dark-color);
}

p {
    line-height: 1.5rem;
    margin-bottom: 0;
}

