:root {
  --bg-color: #F5E9E2;
  /* --bg-color-darker: #BBB; */
  --main-color: #773344;
  --main-color-light: #E3B5A4;
  --main-color-lightest: #d44d5c;
  --main-color-darker: #0b0014;
}

time {
  color: mediumvioletred;
  margin-left: 1rem;
}

body {
  background: var(--bg-color);
  /* font-family: sans-serif; */
  font-family: Arial, Helvetica, sans-serif;
  color: var(--main-color);
  font-size: 24px;
}

.landing {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.landing a {
  font-size: 3rem;
  margin: 1rem;
  display: block;
  padding: 1rem;
}

a {
  text-decoration: underline dotted;
  transition: all 0.5s ease-out;
  color: mediumvioletred;
  font-weight: 700;
}

a:hover,
a:active {
  text-decoration: underline dashed;
  transition: all 0.5s ease-out;
  background-color: var(--main-color-light);
  color: var(--main-color);
}

.landing ul {
  list-style: none;
}

li {
  margin-bottom: .5rem;
}

.article {
  max-width: 75ch;
  margin: 1rem auto;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4 {
  /* font-family: 'Times New Roman', Times, serif; */
  font-family: Georgia, 'Times New Roman', Times, serif
}